<div class="cardo d-flex">
<h1 class="mt-1">{{weatherService.datos.main.temp.toFixed()  }}º</h1>
<div class="mx-2 mt-3">
<h2 class="mx-5">{{weatherService.datos.name}}</h2>
<h5> <span>{{hora}}</span>  - <span>{{nameDay}}</span> <span>{{day}}</span> <span>{{month}}</span> </h5>
</div>
<div>
<div *ngIf="weatherService.datos.weather[0].main==='Clouds'
         || weatherService.datos.weather[0].main==='Mist'
         || weatherService.datos.weather[0].main==='Smoke'
         || weatherService.datos.weather[0].main==='Haze'
         || weatherService.datos.weather[0].main==='Dust'
         || weatherService.datos.weather[0].main==='Fog'
         || weatherService.datos.weather[0].main==='Sand'
         || weatherService.datos.weather[0].main==='Ash'
         || weatherService.datos.weather[0].main==='Squall'
         || weatherService.datos.weather[0].main==='Tornado'"
class="d-flex d flex-column"><i class="fa-cloud fa-3x fa-solid" ></i><span>Clouds</span></div>
<div  *ngIf="weatherService.datos.weather[0].main==='Clear'" class="d-flex d flex-column"><i class="fa-sun fa-3x fa-solid"  ></i> <span >Clear</span> </div>
<div  *ngIf="weatherService.datos.weather[0].main==='Rain' || weatherService.datos.weather[0].main==='Drizzle'" class="d-flex d flex-column"><i class="fa-cloud-rain fa-3x fa-solid"  ></i><span > Rain</span></div>
<div  *ngIf="weatherService.datos.weather[0].main==='Snow'" class="d-flex d flex-column"><i class="fa-regular fa-snowflake fa-3x"  ></i><span  >Snow</span></div>
<div  *ngIf="weatherService.datos.weather[0].main==='Thunderstorm'" class="d-flex d flex-column"><i class="fa-cloud-bolt fa-3x fa-solid"></i><span >Thunderstorm</span></div>


</div>