/* You can add global styles to this file, and also import other style files */
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-image: url(./assets/sky.jpeg);
  background-size: 1368px 720px;
}